.controlpanel{
    position: absolute;
    background: url('../../assets/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    
    width: 100vw;
    height: 30vh;
    bottom: 0;
    
}
.another{
    position: relative;
    top: 50px;
}