/* #root{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100%;
  position: absolute;
  height: 100vh;
}
.earth {
  width: 150px;
  height: 150px;
  position: relative;
  top: 100px;
  bottom: 0;
  left: 100px;
  right:0;
  
  overflow: hidden;
  border-radius: 50%;
  transition: 15s;
  box-shadow: 0 0 20px 20px #000 inset, 0 0 20px 2px #000;
}

.earth:after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: -20px -20px 50px 2px #000 inset;
  border-radius: 50%;
}

.earth > div {
  width: 200%;
  height: 100%;
  animation: spin 15s linear infinite;
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5TZIq2egIWi0JBOL2r3YI8ZrER8V85E0jaeFfx0M6&s);
  orginal image at https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Earthmap1000x500compac.jpg/640px-Earthmap1000x500compac.jpg
  background-size: cover;
  transition: 15s;
}
.thing{
  background: url(https://svs.gsfc.nasa.gov/vis/a030000/a030300/a030362/euvi_aia304_2012_carrington_print.jpg);

}

@keyframes spin {
  to {
      transform: translateX(-50%);
  }
} */